html, body, .game-container {
    height: 100%;
}

.game-container {
    display: flex;
}

.gameboard {
    margin: auto;
}

td {
    padding: 0px;
    cursor: pointer;
}

.cell-content {
    display: flex;
    height: 50px;
    width: 50px;
    border: 3px solid black;
}

.cell-content span {
    font-size: 30px;
    margin: auto;
}

.refresh-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.refresh-icon {
    width: 40px; 
    height: 40px;
    fill: gray;
}

.refresh-icon:hover {
    fill: black;
}

.refresh-icon:active {
    fill: white;
}

.win-label {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    margin-bottom: 15px;
}